Package: com.rov3r.snaploader
Name: SnapLoader for Electra
Depends: mobilesubstrate
Version: 0.0.1a
Architecture: iphoneos-arm
Description: Loads Snapchat Stories without NoSubstrate/Liberty.
Maintainer: Rov3r <rov3r@icloud.com>
Author: Rov3r, PoomSmart
Section: Tweaks
