Package: com.rov3r.snapload
Name: SnapLoad for iOS 11
Depends: mobilesubstrate
Version: 0.0.1-a
Architecture: iphoneos-arm
Description: Loads Snapchat Stories without NoSubstrate/Liberty.
Maintainer: Rov3r <rov3r@icloud.com>
Author: Rov3r, PoomSmart
Section: Tweaks
